<!DOCTYPE html>
<html>
<head>
<script src="/angular/angular.min.js"></script>
 <script 
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYusiuutMf0QWoRX_7SNl7r-CLHepvaus+">
    </script>
<script src="/PC.js"></script>
<title>Simple Polylines</title>
<style>

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
</style>

</head>
<body>
	<div ng-app="pc" class="container">

		<div ng-controller="PcController">

			<div id="map"></div>
		</div>
	</div>
</body>
</html>